@CHARSET "ISO-8859-1";

body {
	padding-top: 60px;
	/* Required padding for .navbar-fixed-top. Remove if using .navbar-static-top. Change if height of navigation changes. */
}

.input-group-addon {
	min-width: 40px;
}

textarea {
	resize: vertical; /*will prevent resizing horizontally*/
}

.navbar-brand {
	font-family: Abril Fatface;
	font-size: 20px;
	font-weight: bold;
}